COSMOS_HOST = "XXX"
COSMOS_MASTER_KEY = "XXX"
COSMOS_DATABASE_ID = "XXX"
COSMOS_CONTAINER_ID = "XXX"

AZURE_OPENAI_DEPLOYMENT_NAME="XXX"
AZURE_OPENAI_ENDPOINT="XXX"
AZURE_OPENAI_API_KEY="XXX"

AZURE_SEARCH_ENDPOINT="XXX"
AZURE_SEARCH_KEY="XXX"
AZURE_SEARCH_INDEX_RESUMES="XXX"
AZURE_SEARCH_INDEX_KB="XXX"